@font-face {
  font-family: 'iconfont';  /* project id 888351 */
  src: url('//at.alicdn.com/t/font_888351_m1x50uxw2ql.eot');
  src: url('//at.alicdn.com/t/font_888351_m1x50uxw2ql.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_888351_m1x50uxw2ql.woff') format('woff'),
  url('//at.alicdn.com/t/font_888351_m1x50uxw2ql.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_888351_m1x50uxw2ql.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont";
  font-size: .16rem;
  font-style: normal;
  color: #8a8a8a;
}

.icon-wallet:before { 
  content: "\f151";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-users:before { 
  content: "\f13a";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-user-check:before { 
  content: "\f12f";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-stream:before { 
  content: "\f0e0";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-store:before { 
  content: "\f0de";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-shopping-card:before { 
  content: "\f0b6";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-share-alt:before { 
  content: "\f0af";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-reply-all:before { 
  content: "\f097";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-reply:before { 
  content: "\f096";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-redo-alt:before { 
  content: "\f094";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-marked-alt:before { 
  content: "\f040";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-luggage-cart:before { 
  content: "\f03d";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-inbox:before { 
  content: "\f026";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-edit:before { 
  content: "\efaa";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-cart-plus:before { 
  content: "\ef62";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-box:before { 
  content: "\ef4c";
  font-size: 40rpx;
  color: #8a8a8a;
}

.icon-cog:before { 
  content: "\ef7d";
  font-size: 40rpx;
  color: #8a8a8a;
}